.bg-color1{
    background-color: #10529E !important;
}

table > tr > td > img {
    width: 200px !important;
}

.has-background-color-1{
    background-color: #021B3B;
}

.has-text-color-1{
    color: #021B3B;
}

.has-background-color-2{
    background-color: #10529E;
}

.has-text-color-2{
    color: #10529E;
}

.worker_image_cell{
    cursor: pointer;
}

.log_button{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    cursor: pointer;
    z-index: 20;
}

.log_button:hover{
    background-color: rgba(0, 0, 0, 0.0005);
}

.initial-logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
}

.initial-logo > span {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
    color: #f2f2f2;
}

.full-height-footer{
    width: 100%;
    position: fixed;
    left: 14rem;
    background-color: #f8f8f8;
    bottom: 0;
}

@media (max-width: 1024px){
    .full-height-footer{
        left: 0;
    }
}

/* About us CSS */

.about-us-container{
    margin: 50px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-us-info{
    width: 50%;
    text-align: justify;
}

.about-us-title{
    color: #363636;
    font-weight: lighter;
    font-size: 34px;
    padding-bottom: 15px;
    text-align: center;
}

.about-us-image{
    width: 30%;
    text-align: center;
}

.about-us-image > img{
    width: 70%;
}

.about-us-benefits-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-us-benefits-col{
    width: 45%;
    font-size: 1rem;
}

.sponsor-container{
    margin-bottom: 70px; 
}

.sponsor-content{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sponsor-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sponsor-title{
    color: #363636;
    font-size: 40px;
}

.sponsor-image{
    width: 30%;
}

.sponsor-image > img {
    width: 300px;
}

.sponsor-icon{
    color: #4A4A4A;
    text-decoration: none;
}