{% extends 'base.html' %}

{% load static %}

{% block page_name %} Trabajadores {% endblock page_name %}

{% block hero %} {% endblock hero %}
    

{% block content %}
<section class="hero is-hero-bar">
    <div class="hero-body">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="title">
                        Trabajadores
                    </h1>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <button id="btn-add" class="button is-success">
                        <span class="icon is-small">
                            <i class="fas fa-user-plus"></i>
                        </span>
                        <span>
                            Agregar trabajador
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<br>

<div class="field has-addons px-5">
    <div class="control is-expanded">
      <input id="search-bar" class="input" type="text" placeholder="Buscar por nombre / apellido / tarjeta">
    </div>
</div>

<!-- Table -->
<section class="section is-main-section">
    <table class="table is-fullwidth is-bordered is-striped is-hoverable is-fullwidth has-text-centered">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Número de teléfono</th>
                <th>Email</th>
                <th>Dirección</th>
                <th>ID Tarjeta</th>
                <th>Fecha de creación</th>
                <!-- <th>Activo</th> -->
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="tbody">
            <!-- Loaded in JS -->
        </tbody>
    </table>
    <div class="notification">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <div id="paginator-btns" class="buttons has-addons">
                        
                    </div>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <medium><span id="page_list"></span></medium>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal add worker -->
<div id="worker-add-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content has-background-white py-5 px-5">
        <h3 class="title">Complete los campos</h3>
        <hr>
        <form id="create-form">

            <input type="hidden" name="SECRET_KEY" value="{{sk}}">
            <input type="hidden" name="{{ form.user_id.name }}" value="{{ user.id }}">

            <div class="field">
                <label class="label">Nombre</label>
                <div class="control has-icons-left">
                    <input name="{{ form.first_name.name }}" type="text" class="input" placeholder="Nombre">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Apellido</label>
                <div class="control has-icons-left">
                    <input name="{{ form.last_name.name }}" type="text" class="input" placeholder="Apellido">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>
            <div class="field mt-5">
                <label class="label">Número de teléfono</label>
                <div class="control has-icons-left">
                    <input name="{{ form.phone_number.name }}" class="input" placeholder="Número de teléfono">
                    <span class="icon is-small is-left">
                        <i class="fas fa-mobile-alt"></i>
                    </span>
                </div>
            </div>
            <div class="field mt-5">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                    <input name="{{ form.email.name }}" type="email" class="input" placeholder="Email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>
            <div class="field mt-5">
                <label class="label">Dirección</label>
                <div class="control has-icons-left">
                    <input name="{{ form.address.name }}" type="text" class="input" placeholder="Dirección">
                    <span class="icon is-small is-left">
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                </div>
            </div>
            <div class="field mt-5">
                <label class="label">ID Tarjeta</label>
                <div class="control has-icons-left">
                    <input id="card-code" name="{{ form.card_code.name }}" type="number" class="input" placeholder="ID Tarjeta">
                    <span class="icon is-small is-left">
                        <i class="far fa-id-card"></i>
                    </span>
                </div>
            </div>
            <div class="field mt-5">
                <label class="label">Foto</label>
                <div class="control">
                    <div class="file is-info has-name">
                        <label class="file-label">
                            <input id="create_worker_image_input" name="{{ form.worker_image.name }}" class="file-input" type="file" name="resume">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Seleccione un archivo...
                                </span>
                            </span>
                            <span id="create_worker_image_filename" class="file-name">
                                -
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <p id="create-response-text"></p>
            <hr>
            <div class="field is-grouped is-grouped-right">
                <div class="control">
                    <button type="submit" class="button is-success">Enviar</button>
                    <button id="btn-close-add-modal" type="button" class="button is-danger is-light">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal edit worker-->
<div id="worker-edit-modal" class="modal">
    
</div>

<!-- IMAGE MODAL -->

<div id="image_modal" class="modal">
    <div id="background_image_modal" class="modal-background"></div>
    <div class="modal-content">
      <p class="image">
        <img id="image_modal_tag" alt="Imagen de perfil">
      </p>
    </div>
    <button id="close_image_modal" class="modal-close is-large" aria-label="close"></button>
</div>

{% endblock content %}


{% block js %}
    <script src="{% static 'js/worker.js' %}"></script>
{% endblock js %}
    