.has-background-color-1{
    background-color: #021B3B;
}

.has-text-color-1{
    color: #021B3B;
}

.has-background-color-2{
    background-color: #10529E;
}

.has-text-color-2{
    color: #10529E;
}