{% extends 'base.html' %}

{% load static %}


{% block page_name %} Puertas {% endblock page_name %}
{% block page_hero %} Puertas {% endblock page_hero %}
    
{% block content %}

<!-- Tabla -->

<br>

<div class="field has-addons px-5">
    <div class="control is-expanded">
      <input id="search-bar" class="input" type="text" placeholder="Buscar por nombre / sector">
    </div>
</div>

<section class="section is-main-section">
    <table class="table is-fullwidth is-bordered is-striped is-hoverable is-fullwidth has-text-centered">
        <thead class="is-size-5">
            <tr>
                <th>Puerta</th>
                <th>Sector</th>
                <th>Abierta</th>
                <th>% Sanitizante</th>
                <th>Fecha de creación</th>
                <th>Acciones</th>
                <!-- <th>Activo</th> -->
            </tr>
        </thead>
        <tbody id="tbody">
            <!-- Loaded in JS -->
        </tbody>
    </table>
    <div class="notification">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <div id="paginator-btns" class="buttons has-addons">
                        
                    </div>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <medium><span id="page_list"></span></medium>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal edit door-->
<div id="door-edit-modal" class="modal">
    
</div>
{% endblock content %}


{% block js %}
    <script src="{% static 'js/door.js' %}"></script>
{% endblock js %}
    