{% extends 'base.html' %} {% load static %}

{% block page_name %} Dashboard {%endblock page_name %} 
{% block page_hero %} Dashboard {%endblock page_hero %} 

{% block content %}
<section class="section is-main-section">
  <div id="doors-container" class="columns is-multiline">
    <!-- Doors loaded in JS -->
  </div>
</section>

<!--Modal door's log-->
<div id="modal-log" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content has-background-white py-5 px-5">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h3 class="title">Historial:&nbsp;<span id="door-title"></span></h3>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <button id="modal-log-close" class="delete" aria-label="close"></button>
        </div>
      </div>
    </div>
    <div class="tags are-medium">
      <span class="tag is-info">Sanitizante:&nbsp;<span id="sanitizer_perc"></span></span>
      <span class="tag is-dark">Actual cantidad de personas dentro:&nbsp;<span id="people_inside"></span></span>
      <span class="tag is-warning">Ambiente Seguro:&nbsp;<span id="is_safe"></span></span>
    </div>
    <hr />
    <table class="
        table
        is-fullwidth is-striped is-hoverable is-bordered is-narrow
        has-text-centered
      ">
      <thead>
        <tr>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Temperatura</th>
          <th>Barbijo</th>
          <th>Hora de entrada</th>
          <th>Hora de salida</th>
          <th>Autorizado</th>
        </tr>
      </thead>
      <tbody id="logs_list">
        <!-- Loaded in JS -->
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}


{% block js %}
<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
{% endblock js %}
  