<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,">
    <title>SAFE Project</title>

    <!-- Bulma is included -->
    <link rel="stylesheet" href="css/bulma.min.css">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="stylesheet" href="css/custom.css">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../fontawesome-free-5.15.3-web/css/all.css">
</head>

<body>
    <div id="app">
        <nav id="navbar-main" class="navbar is-fixed-top">
            <div class="navbar-brand">
                <a class="navbar-item is-hidden-desktop jb-aside-mobile-toggle">
                    <span class="icon"><i class="mdi mdi-forwardburger mdi-24px"></i></span>
                </a>
            </div>
            <div class="navbar-brand is-right">
                <a class="navbar-item is-hidden-desktop jb-navbar-menu-toggle" data-target="navbar-menu">
                    <span class="icon"><i class="mdi mdi-dots-vertical"></i></span>
                </a>
            </div>
            <div class="navbar-menu fadeIn animated faster" id="navbar-menu">
                <div class="navbar-end">
                    <div
                        class="navbar-item has-dropdown has-dropdown-with-icons has-divider has-user-avatar is-hoverable">
                        <a class="navbar-link is-arrowless">
                            <div class="is-user-avatar">
                                <img src="https://avatars.dicebear.com/v2/initials/john-doe.svg" alt="Jane Doe">
                            </div>
                            <div class="is-user-name"><span>Jane Doe</span></div>
                            <span class="icon"><i class="mdi mdi-chevron-down"></i></span>
                        </a>
                        <div class="navbar-dropdown">
                            <a href="profile.html" class="navbar-item">
                                <span class="icon"><i class="mdi mdi-account"></i></span>
                                <span>Perfil</span>
                            </a>
                            <a class="navbar-item">
                                <span class="icon"><i class="mdi mdi-settings"></i></span>
                                <span>Opciones</span>
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">
                                <span class="icon"><i class="mdi mdi-logout"></i></span>
                                <span>Cerrar Sesión</span>
                            </a>
                        </div>
                    </div>
                    <a href="https://justboil.me/bulma-admin-template/one-html" title="About"
                        class="navbar-item has-divider is-desktop-icon-only">
                        <span class="icon"><i class="mdi mdi-help-circle-outline"></i></span>
                        <span>Ayuda</span>
                    </a>
                </div>
            </div>
        </nav>
        <aside class="aside is-placed-left is-expanded">
            <div class="aside-tools bg-color1">
                <div class="aside-tools-label">
                    <span><b>SAFE</b> Project</span>
                </div>
            </div>
            <div class="menu is-menu-main">
                <p class="menu-label">General</p>
                <ul class="menu-list">
                    <li>
                        <a href="index.html" class="router-link-active has-icon">
                            <span class="icon"><i class="fas fa-desktop"></i></span>
                            <span class="menu-item-label">Dashboard</span>
                        </a>
                    </li>
                </ul>
                <p class="menu-label">Examples</p>
                <ul class="menu-list">
                    <li>
                        <a href="workers.html" class="has-icon">
                            <span class="icon"><i class="fas fa-address-book"></i></span>
                            <span class="menu-item-label">Lista de empleados</span>
                        </a>
                    </li>
                    <li>
                        <a href="doors.html" class="has-icon">
                            <span class="icon"><i class="fas fa-list-alt"></i></span>
                            <span class="menu-item-label">Lista de puertas</span>
                        </a>
                    </li>
                    <li>
                        <a href="logs.html" class="has-icon is-active">
                            <span class="icon"><i class="fas fa-table"></i></span>
                            <span class="menu-item-label">Historial</span>
                        </a>
                    </li>
                    <li>
                        <a href="profile.html" class="has-icon">
                            <span class="icon"><i class="mdi mdi-account-circle"></i></span>
                            <span class="menu-item-label">Perfil</span>
                        </a>
                    </li>
                    <li>
                        <a class="has-icon has-dropdown-icon">
                            <span class="icon"><i class="mdi mdi-view-list"></i></span>
                            <span class="menu-item-label">Submenus</span>
                            <div class="dropdown-icon">
                                <span class="icon"><i class="mdi mdi-plus"></i></span>
                            </div>
                        </a>
                        <ul>
                            <li>
                                <a href="#void">
                                    <span>Sub-item One</span>
                                </a>
                            </li>
                            <li>
                                <a href="#void">
                                    <span>Sub-item Two</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p class="menu-label">About</p>
                <ul class="menu-list">
                    <li>
                        <a href="https://justboil.me/bulma-admin-template/one-html" class="has-icon">
                            <span class="icon"><i class="mdi mdi-help-circle"></i></span>
                            <span class="menu-item-label">About</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <section class="section is-title-bar">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <ul>
                            <li>Admin</li>
                            <li>Historial global</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="hero is-hero-bar">
            <div class="hero-body">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <h1 class="title">
                                Historial
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Table -->
        <section class="section is-main-section">
            <table class="table is-fullwidth is-striped is-hoverable is-bordered is-narrow has-text-centered">
                <thead>
                  <tr>
                    <th>Foto</th>
                    <th>Nombre</th>
                    <th>Puerta</th>
                    <th>Sector</th>
                    <th>Temperatura</th>
                    <th>Barbijo</th>
                    <th>Hora de entrada</th>
                    <th>Hora de salida</th>
                    <th>Autorizado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="is-image-cell">
                      <div class="image">
                        <img src="../Mendito.png" class="is-rounded">
                      </div>
                    </td>
                    <td data-label="Nombre">Julián Mendoza</td>
                    <td data-label="Puerta">Oficina RRHH</td>
                    <td data-label="Sector">Oficinas</td>
                    <td data-label="Temperatura">36.6°c</td>
                    <td data-label="Barbijo">Sí</td>
                    <td data-label="Hora de entrada">17:14</td>
                    <td data-label="Hora de salida">17:30</td>
                    <td data-label="Autorizado"><span class="icon has-text-success">
                        <i class="far fa-check-circle"></i>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            <div class="notification">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <div class="buttons has-addons">
                                <button type="button" class="button">1</button>
                                <button type="button" class="button">2</button>
                                <button type="button" class="button">3</button>
                            </div>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <medium>Página 1 de 3</medium>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            © 2021, Safe Project.
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <!-- Javascript-->
    <script type="text/javascript" src="js/main.min.js"></script>

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
</body>

</html>