{% extends 'base.html' %}

{% load static %}

{% block page_name %} Historial Global {% endblock page_name %}
{% block page_hero %} Historial Global {% endblock page_hero %}

{% block content %}

<br>

<div class="field has-addons px-5">
    <div class="control is-expanded">
      <input id="search-bar" class="input" type="text" placeholder="Buscar por nombre / apellido">
    </div>
</div>

<div class="mx-5">
    <div class="columns">
        <div class="column">
            <div class="control">
                <p><span><strong>Desde:</strong></span>
                <input class="input" type="date" name="from_search_date" id="from_search_date"></p>
                <br>
                <input class="input" type="time" name="from_search_time" id="from_search_time"></p>
            </div>
        </div>
        <div class="column">
            <div class="control">
                <p><span><strong>Hasta:</strong></span>
                <input class="input" type="date" name="to_search_date" id="to_search_date"></p>
                <br>
                <input class="input" type="time" name="to_search_time" id="to_search_time"></p>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="column is-10">
            <button class="button pagination-link is-current is-fullwidth" id="search-btn">Buscar</button>
        </div>
        <div class="column">
            <button class="button pagination-link is-fullwidth is-danger" id="reset-btn">Reset</button>
        </div>
    </div>

</div>

<br>

<!-- Table -->
<section class="section is-main-section">
    <table class="table is-fullwidth is-bordered is-striped is-hoverable is-fullwidth has-text-centered">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Puerta</th>
                <th>Temperatura</th>
                <th>Barbijo</th>
                <th>Hora de entrada ( mes / dia / año )</th>
                <th>Hora de salida ( mes / dia / año )</th>
                <th>Autorizado</th>
            </tr>
        </thead>
        <tbody id="tbody">
            <!-- Loaded in JS -->
        </tbody>
    </table>
    <div class="notification">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <div id="paginator-btns" class="buttons has-addons">
                        
                    </div>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <medium><span id="page_list"></span></medium>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- IMAGE MODAL -->

<div id="image_modal" class="modal">
    <div id="background_image_modal" class="modal-background"></div>
    <div class="modal-content">
      <p class="image">
        <img id="image_modal_tag" alt="Imagen de perfil">
      </p>
    </div>
    <button id="close_image_modal" class="modal-close is-large" aria-label="close"></button>
</div>

{% endblock content %}


{% block js %}
    <script src="{% static 'js/logs.js' %}"></script>
{% endblock js %}
    